{%extends 'estate/base.html'%}
{%block content%}

<div class="row justify-content-start">
    <h1 id="title">Røddi - dødsbo og arveoppgjør</h1>
</div>
<div class="row">
    <div class="col-12 col-md-12 border p-3 media-div">


        <img src="/static/estate/død.jpg" alt="frontpage" class="center media-img-homepage img-fluid">

        <br>

        <p font style="font-size:14px;">
            Tiden etter du har mistet noen du er glad i kan være utfordrende og vanskelig for deg som etterlatt.
            Vet du ikke hvor du skal begynne når det gjelder å håndtere økonomiske og praktiske oppgaver som må gjøres i dødsboet?
            Vi vil gjerne hjelpe deg med å få en oversikt slik at arveoppgjøret blir lettere.
        </p>

        <p font style="font-size:14px;">
            Røddi tilbyr deg og de rundt deg en tjeneste som skal forenkle praktikalitetene som må tas hånd om.
            Her finner du informasjon om hva du må gjøre som fullmektig eller arving.
        </p>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="col-12 col-md-12 border p-4 media-div-homepage">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row justify-content-center">
                                    <div>
                                        <img src="/static/estate/oversikt.png" alt="house picture" class="media-img-homepage-categories">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="col">
                                    <div class="row justify-content-center justify-content-md-start">
                                        <h6> Hold oversikten </h6>
                                    </div>
                                    <div class="row justify-content-center justify-content-md-start">
                                        <small> Enkel navigering mellom aktive og gjennomførte arveoppgjør </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="col-12 col-md-12 border p-4 media-div-homepage">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row justify-content-center">
                                    <div>
                                        <img src="/static/estate/prioritering.png" alt="priority picture" class="media-img-homepage-categories">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="col">
                                    <div class="row justify-content-center justify-content-md-start">
                                        <h6> Prioriter eiendeler </h6>
                                    </div>
                                    <div class="row justify-content-center justify-content-md-start">
                                        <small> Hold en oppdatert liste over ønskede eiendeler - donér eller kast resten </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="col-12 col-md-12 border p-4 media-div-homepage">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row justify-content-center">
                                    <div>
                                        <img src="/static/estate/kommunikasjon.png" alt="speech picture" class="media-img-homepage-categories">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="col">
                                    <div class="row justify-content-center justify-content-md-start">
                                        <h6> Kom til enighet </h6>
                                    </div>
                                    <div class="row justify-content-center justify-content-md-start">
                                        <small> Diskuter og blir enig med andre pårørende om fordeling av eiendeler </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock content%}s